<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="view-transition" content="same-origin" />
<link rel="icon" href="/static/favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura-vader.css" />
<link rel="stylesheet" href="/static/styles.css" />

{{ define "title" }}
  <title>{{ if (not (eq . "")) }}{{ . }} -{{ end }}HRT Clicker</title>
{{- end }}
