{{ template "head" }}
{{ template "title" "" }}


<header>
  <h1>hrtclicker</h1>
  <a
    href="https://github.com/diamondburned/hrtclicker"
    role="button"
    title="Source code"
    class="github-button"
    target="_blank"
  >
    <img src="/static/github-mark-white.png" alt="GitHub" />
  </a>
</header>

{{ $nextDoseTime := .NextDoseTime }}
{{ $hasNextDose := not $nextDoseTime.IsZero }}

{{ $dosageHistory := .DosageHistory }}
{{ $recentDoses := slice $dosageHistory 0 (min 5 (len $dosageHistory)) }}


<main id="index" class="container">
  <section id="countdown">
    <p {{ if $hasNextDose }}data-has-next-dose{{ end }}>
      {{ if $hasNextDose }}
        <span>
          Your next dose
          {{ if $nextDoseTime.Before now }}
            was
          {{ else }}
            is
          {{ end }}
        </span>
        <time
          datetime="{{ rfc3339 $nextDoseTime }}"
          class="relative large"
          data-format="long"
          data-format-title
        >
          at
          {{ $nextDoseTime.Format "15:04:05" }}
        </time>
        <small>
          at
          <time datetime="{{ rfc3339 $nextDoseTime }}">
            {{ $nextDoseTime.Format "15:04:05" }}
          </time>
        </small>
      {{ else }}
        <span>Waiting for your first dose!</span>
      {{ end }}
    </p>
  </section>

  <section id="dosage-control">
    <form method="post">
      <button type="submit" id="record-dose" formaction="/dosage/record">
        <span>I took my dose</span>
        <span>😺✨</span>
      </button>
      <button
        type="submit"
        id="delete-dose"
        formaction="/dosage/delete"
        data-destructive
        data-confirmation="Are you sure you want to delete your last dose?"
      >
        Nevermind... I didn't take it.
      </button>
    </form>
  </section>

  <section id="recent-doses">
    <h2>Recent Doses</h2>

    <table>
      <thead>
        <tr>
          <th>When</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {{ range $recentDoses }}
          <tr>
            <td>
              <time datetime="{{ rfc3339 .DosageAt }}" class="relative">
                {{ .DosageAt.Format "15:04:05" }}
              </time>
            </td>
            <td>{{ .HRTType }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>

    <!-- TODO -->
    <div id="history-chart"></div>
  </section>
</main>

<script async defer>
  const relativeFormatters = {
    short: new Intl.RelativeTimeFormat("en", { numeric: "auto", style: "short" }),
    long: new Intl.RelativeTimeFormat("en", { numeric: "auto", style: "long" }),
  };

  function formatDuration(duration, long = false) {
    duration = duration / 1000;

    const minute = 60;
    const hour = minute * 60;
    const day = hour * 24;

    let unit = "second";
    if (Math.abs(duration) > day) {
      unit = "day";
      duration = Math.floor(duration / day);
    } else if (Math.abs(duration) > hour) {
      unit = "hour";
      duration = Math.floor(duration / hour);
    } else if (Math.abs(duration) > minute) {
      unit = "minute";
      duration = Math.floor(duration / minute);
    } else {
      duration = Math.floor(duration);
    }

    return relativeFormatters[long ? "long" : "short"].format(duration, unit);
  }

  const absoluteFormatters = {
    short: new Intl.DateTimeFormat("en", {
      hour: "numeric",
      minute: "numeric",
    }),
    long: new Intl.DateTimeFormat("en", {
      timeStyle: "medium",
      dateStyle: "medium",
    }),
  };

  function formatTime(time, long = false) {
    return absoluteFormatters[long ? "long" : "short"].format(time);
  }

  document.querySelectorAll("time").forEach((el) => {
    const time = Date.parse(el.getAttribute("datetime"));
    const long = el.getAttribute("data-format") == "long";
    const title = !!el.getAttribute("data-format-title");
    const format = el.classList.contains("relative")
      ? () => formatDuration(time - Date.now(), long)
      : () => formatTime(time, long);
    const update = () => {
      el.textContent = format();
    };
    setInterval(update, 1000);
    update();
  });

  document.querySelectorAll("button[data-destructive]").forEach((el) => {
    const confirmation = el.getAttribute("data-confirmation") || "Are you sure?";
    el.addEventListener("click", (e) => {
      if (!confirm(confirmation)) {
        e.preventDefault();
      }
    });
  });
</script>

<script async defer>
  // TODO: render chart
  const dosageHistory = JSON.parse({{ toJson $dosageHistory }})
  const chartElement = document.getElementById("history-chart");
</script>
