{{ template "head" }}
{{ template "title" "" }}


<header>
  <h1>hrtclicker</h1>
</header>

{{ $nextDoseTime := .NextDoseTime }}
{{ $hasNextDose := not $nextDoseTime.IsZero }}

{{ $dosageHistory := .DosageHistory }}
{{ $recentDoses := slice $dosageHistory 0 (min 5 (len $dosageHistory)) }}


<main id="index" class="container">
  <section id="countdown">
    <p {{ if $hasNextDose }}data-has-next-dose{{ end }}>
      {{ if $hasNextDose }}
        <span>
          Your next dose
          {{ if $nextDoseTime.Before now }}
            was
          {{ else }}
            is
          {{ end }}
        </span>
        <time
          datetime="{{ rfc3339 $nextDoseTime }}"
          class="relative large"
          data-format="long"
          data-format-title
        >
          at
          {{ $nextDoseTime.Format "15:04:05" }}
        </time>
        <small>
          at
          <time datetime="{{ rfc3339 $nextDoseTime }}">
            {{ $nextDoseTime.Format "15:04:05" }}
          </time>
        </small>
      {{ else }}
        <span>Waiting for your first dose!</span>
      {{ end }}
    </p>
  </section>

  <section id="dosage-control">
    <form method="post">
      <button type="submit" id="record-dose" formaction="/dosage/record">
        <span>I took my dose</span>
        <span>😺✨</span>
      </button>
      <button
        type="submit"
        id="delete-dose"
        formaction="/dosage/delete"
        data-destructive
        data-confirmation="Are you sure you want to delete your last dose?"
      >
        Nevermind... I didn't take it.
      </button>
    </form>
  </section>

  <section id="recent-doses">
    <h2>Recent Doses</h2>

    <table id="doses-table">
      <thead>
        <tr>
          <th>When</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {{ range $recentDoses }}
          <tr>
            <td>
              <time datetime="{{ rfc3339 .DosageAt }}" class="relative">
                {{ .DosageAt.Format "15:04:05" }}
              </time>
            </td>
            <td>{{ .HRTType }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </section>

  <section id="dosage-details" style="display: none">
    <h2>Dosage Details</h2>
    <div id="history-chart"></div>

    <h3>Averages</h3>
    <table id="dosage-averages">
      <tr>
        <th>Daily</th>
        <td><span id="average-1"></span> pg/mL</td>
      </tr>
      <tr>
        <th>Weekly</th>
        <td><span id="average-7"></span> pg/mL</td>
      </tr>
      <tr>
        <th>Bi-weekly</th>
        <td><span id="average-14"></span> pg/mL</td>
      </tr>
      <tr>
        <th>Monthly</th>
        <td><span id="average-30"></span> pg/mL</td>
      </tr>
    </table>
  </section>
</main>

<footer>
  <a href="https://github.com/diamondburned/hrtclicker" class="github-button" target="_blank">
    Source code
  </a>
  <span>ꞏ</span>
  <form method="post" action="/notify/test">
    <button type="submit" class="link-button">Test notification</button>
  </form>
</footer>

{{ storeJSON "dosageHistory" $dosageHistory }}
{{ storeJSON "configHRTType" .HRTConfig.Type }}
{{ storeJSON "configIntervalHours" .HRTConfig.Interval.AsDuration.Hours }}
{{ storeJSON "configConcurrence" .HRTConfig.Concurrence }}


<script type="module">
  import {
    EstrogenPlotter,
    patchesPredictor,
    averageDays,
    calculateAverages,
  } from "/static/hrtplotter.js";

  function enableDosageDetails() {
    const dosageDetails = document.getElementById("dosage-details");
    dosageDetails.style.display = "block";
  }

  switch (configHRTType) {
    case "patches": {
      const applicationTimes = dosageHistory
        .filter((dose) => dose.HRTType == "patches")
        .map((dose) => Date.parse(dose.DosageAt) / 1000);

      const values = await patchesPredictor.predict(applicationTimes, {
        intervalHours: configIntervalHours,
        concurrence: configConcurrence,
        hoursAgo: 24 * 30, // 30 days or 1 month
      });

      const plotter = new EstrogenPlotter(document.getElementById("history-chart"));
      plotter.update(values);

      const averages = calculateAverages(values);
      for (let [days, value] of Object.entries(averages)) {
        value = averages[days].toFixed(1);
        document.getElementById(`average-${days}`).textContent = value;
      }

      enableDosageDetails();
      break;
    }
    default: {
      console.log("not drawing chart due to unknown type", hrtConfig.type);
      break;
    }
  }
</script>

<script src="/static/time.js" async defer></script>
