{{ template "head" }}
{{ template "title" "" }}


<header>
  <h1>hrtclicker</h1>
</header>

{{ $nextDoseTime := .NextDoseTime }}
{{ $hasNextDose := not $nextDoseTime.IsZero }}

{{ $dosageHistory := .DosageHistory }}
{{ $recentDoses := slice $dosageHistory 0 (min 5 (len $dosageHistory)) }}


<main id="index" class="container">
  <section id="countdown">
    <p {{ if $hasNextDose }}data-has-next-dose{{ end }}>
      {{ if $hasNextDose }}
        <span>
          Your next dose
          {{ if $nextDoseTime.Before now }}
            was
          {{ else }}
            is
          {{ end }}
        </span>
        <time
          datetime="{{ rfc3339 $nextDoseTime }}"
          class="relative large"
          data-format="long"
          data-format-title
        >
          at
          {{ $nextDoseTime.Format "15:04:05" }}
        </time>
        <small>
          at
          <time datetime="{{ rfc3339 $nextDoseTime }}">
            {{ $nextDoseTime.Format "15:04:05" }}
          </time>
        </small>
      {{ else }}
        <span>Waiting for your first dose!</span>
      {{ end }}
    </p>
  </section>

  <section id="dosage-control">
    <form method="post">
      <button type="submit" id="record-dose" formaction="/api/dosage/record">
        <span>I took my dose</span>
        <span>😺✨</span>
      </button>
      <button
        type="submit"
        id="delete-dose"
        formaction="/api/dosage/delete"
        data-destructive
        data-confirmation="Are you sure you want to delete your last dose?"
      >
        Nevermind... I didn't take it.
      </button>
    </form>
  </section>

  <section id="recent-doses">
    <h2>Recent Doses</h2>

    <table id="doses-table">
      <thead>
        <tr>
          <th>When</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {{ range $recentDoses }}
          <tr>
            <td>
              <time datetime="{{ rfc3339 .DosageAt }}" class="relative">
                {{ .DosageAt.Format "15:04:05" }}
              </time>
            </td>
            <td>{{ .HRTType }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </section>

  <section id="dosage-details" style="display: none">
    <h2>Dosage Details</h2>

    <div class="plots">
      <div class="plot" id="history-line"></div>
      <!-- <div class="plot" id="history-candlesticks"></div> -->
    </div>

    <h3>Averages</h3>
    <table id="dosage-stats">
      {{ define "stat-row" }}
        <tr data-name="{{ .Name }}" data-for-days="{{ .ForDays }}">
          <th>{{ .Name }}</th>
          <td>
            <span class="mean">
              <span data-value="mean"></span>
              <span class="unit">pg/mL</span>
            </span>
            <span class="stddev">
              <span>±</span>
              <span data-value="stddev"></span>
              <span class="unit">pg/mL</span>
            </span>
            <span class="quantiles">
              {{ range .Quantiles }}
                <span class="quantile" data-quantile="{{ . }}">
                  <span class="quantile-lower">
                    <span data-value="quantile" data-quantile="{{ subf 100 . }}"></span>
                    <span class="unit">pg/mL</span>
                  </span>
                  <span class="quantile-upper">
                    <span data-value="quantile" data-quantile="{{ . }}"></span>
                    <span class="unit">pg/mL</span>
                  </span>
                </span>
              {{ end }}
            </span>
          </td>
        </tr>
      {{ end }}
      {{ range (list
        (dict  "Name" "Daily"      "ForDays" 1   "Quantiles" (list 95 99))
        (dict  "Name" "Weekly"     "ForDays" 7   "Quantiles" (list 95 99))
        (dict  "Name" "Bi-weekly"  "ForDays" 14  "Quantiles" (list 95 99))
        (dict  "Name" "Monthly"    "ForDays" 30  "Quantiles" (list 95 99)))
      }}
        {{ template "stat-row" . }}
      {{ end }}
    </table>
  </section>
</main>

<footer>
  <a href="https://github.com/diamondburned/hrtclicker" class="github-button" target="_blank">
    Source code
  </a>
  <span>ꞏ</span>
  <form method="post" action="/notify/test">
    <button type="submit" class="link-button">Test notification</button>
  </form>
</footer>

{{ storeJSON "dosageHistory" $dosageHistory }}
{{ storeJSON "config" (dict
  "Type"          .HRTConfig.Type
  "IntervalHours" .HRTConfig.Interval.AsDuration.Hours
  "Concurrence"   .HRTConfig.Concurrence)
}}


<script src="/static/hrtplotter.js" type="module"></script>
<script src="/static/time.js" async defer></script>
